apiVersion: v1
kind: Service
metadata:
  name: pyroscope
  namespace: monitoring
  labels:
    app.kubernetes.io/name: pyroscope
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 4040
      targetPort: 4040
      protocol: TCP
  selector:
    app.kubernetes.io/name: pyroscope  # Должен совпадать с label у Pyroscope pod'ов
    app.kubernetes.io/instance: pyroscope  # (если есть)